/* --- CIELO --- */
#cielo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70vh;
    background-image: url("cielo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

/* --- CAMPO DE JUEGO --- */
#campoDeJuego {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 30vh;
    background-image: url("Camp-de-juego.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* --- JUGADOR (soldado) --- */
#jugador {
    width: 80px;
    height: 114px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

/* --- METEORO --- */
.meteorito {
    width: 48px;
    height: 48px;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    animation: caer 3s linear fo
}