/* RESET */
* {
    margin: 0;
    padding: 0;
}

/* DOCUMENTO */
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: transparent;
}

/* --- CIELO --- */
#cielo {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url("cielo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* o 100% 100% */

    image-rendering: pixelated;
    z-index: 0;
}

/* --- SUELO --- */
#campoDeJuego {
    position: fixed;
    bottom: 0;
    left: 0;

    height: 30%;
    width: 100%;


    background-image: url("Camp-de-juego.png");
    background-repeat: repeat-x;
    image-rendering: pixelated;
    background-size: contain;

    z-index: 9;
    
}

/* --- JUGADOR --- */
#jugador {
    position: fixed;

    
    width: 7vw;
    height: 12vh;


    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    image-rendering: pixelated;
    z-index: 11;
}

/* --- METEORITO --- */
.meteorito {
    position: fixed;

    width: 8vh;
    height: 8vw;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    image-rendering: pixelated;
    z-index: 10;
}






































