* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    position: fixed;
}

/* --- CIELO --- */
#cielo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background-image: url("cielo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
}

/* --- CAMPO DE JUEGO --- */
#campoDeJuego {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    min-height: 200px;
    background-image: url("Camp-de-juego.png");
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: bottom left;
    z-index: -1;
}

/* --- JUGADOR (soldado) --- */
#jugador {
    width: 80px;
    height: 114px;
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
    z-index: 10;
}

/* --- METEORITO --- */
.meteorito {
    width: 50px;
    height: 50px;
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
    z-index: 5;
}



